:root {
  --primary-color: #005fff;
  --primary-color-alpha: #005fff1a;
  --display-color: darkgray;
  --number-color: lightgrey;
  --operator-color: darkorange;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  margin: auto;
}

/* --------------Quote------------------ */

.quote-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 5rem auto;
  padding: 1rem;
  min-height: 400px;
}

.quote-author {
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  font-style: italic;
  background-image: url('../public/assets/quote-frame.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  color: var(--operator-color);
  font-size: 1.5rem;
  margin: auto;
  max-width: 80%;
}

.author {
  font-size: 1rem;
  font-weight: 700;
}

.reload-button {
  display: flex;
  align-self: center;
  width: 30%;
  background-color: goldenrod;
  color: white;
  font-weight: 500;
  height: 3rem;
  padding-inline: 1rem;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.reload-button img {
  margin-top: 0.8rem;
  margin-right: 0.5rem;
}

/* --------------Calculator------------- */

.grid-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0.5px;
  width: 400px;
  margin: 5rem auto; /* Center the grid container */
  border-radius: 4px;
  padding: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.full-span {
  grid-column: 1 / -1; /* Span across all columns */
  background-color: var(--display-color);
  color: white;
  display: block;
  width: 100%;
  text-align: end;
  padding: 1rem;
  border-radius: 4px;
}

.row button,
span {
  box-sizing: border-box;
  border: solid 0.5px rgb(238, 238, 241);
  font-size: large;
  font-weight: 700;
}

.row button:not(.full-span) {
  width: 100%;
  background-color: var(--number-color);
  color: black;
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.row:last-child {
  justify-content: flex-start; /* Align the items to the start of the row */
}

.row:last-child button:first-child {
  flex: 1 1 50%;
}

.row:last-child button:not(:first-child) {
  flex: 1 1 calc(50% / 2);
}

.row:not(:first-child) button:last-child {
  background-color: var(--operator-color);
}

.grid-container .row button:hover {
  background-color: darkcyan;
  color: white;
}

.grid-container .row button:active {
  background-color: rgb(3, 77, 77);
  color: white;
}

.row:not(:first-child) button:last-child:hover {
  background-color: rgb(163, 50, 16);
  color: white;
}

.row:not(:first-child) button:last-child:active {
  background-color: rgb(26, 7, 1);
  color: white;
}
